body 
{
    background-color: whitesmoke;
}

a 
{
    text-decoration: none;
}

img
{
    border-radius: 2%;
}

.page
{
    padding-left: 150px;
    padding-right: 150px;
}

nav a 
{
    padding-right: 20px;
    color: black;
}

nav
{
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
}

#acceuil p
{
    padding-left: 50px;
    text-align: justify;
}

#acceuil
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 50px;
}

#competences
{
    padding-top: 50px;
}

#competences ul
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

#competences ul li
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
}

#competences h2
{
    display:flex;
    justify-content: center;
    font-size: medium;
}

#contact
{
    padding-top: 50px;
}

#contact ul
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    list-style-type: none;
}

#contact ul li
{
    padding-right: 15px;
}

#contact h2
{
    display:flex;
    justify-content: center;
    font-size: medium;
}